<div class="container">
    <h2 class="header"><%=__(sails.config.enums.category["fsd"])%></h2>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <p class="text-justify"><%=__("fsd-p1")%></p>
        </div>
    </div>

    <img src="/images/cert fsd.jpg" class="img-responsive center-block product-cert">
    <hr>

    <% url = sails.getUrlFor('ProductController.fsdModel') %>
    <%- partial("../btn-model.ejs") %>
</div>
