<div class="container">
    <h3 class="header"><%= sails.config.enums.category["fsd"] %></h3>
    <p class="text-center">Our steel fire doors, swining type are certified for fire rating by worldwide accepted organization</p>
    <img src="/images/fire_door_cert.jpg" class="img-responsive center-block product-cert">
    <hr>

    <% url = sails.getUrlFor('ProductController.fsdModel') %>
    <%- partial("../btn-model.ejs") %>
</div>
