<div class="container">
    <h2 class="header">projects</h2>
    <div class="filter-project">
        Filter By:
        <span class="filter-label">Region</span>
        <select name="region" class="form-control">
            <option value="">All</option>
            <option value="th">Thailand</option>
        </select>

        <span class="filter-label">Year</span>
        <select name="year" class="form-control">
            <option value="">All</option>
            <option value="2016">2016</option>
        </select>
    </div>
    <hr>

    <%- partial("../base/btn-project.ejs") %>

</div>

