<div class="container">
    <h2 class="header">projects</h2>
    Filter By: Region
    <select name="region">
        <option value="">All</option>
        <option value="th">Thailand</option>
    </select>

    Year
    <select name="year">
        <option value="">All</option>
        <option value="2016">2016</option>
    </select>
    <hr>

    <div class="project-container">
        <div class="row">
            <div class="col-sm-4 tag-container">
                <div class="col-sm-12 limiter">
                    <div class="img project" style="background-image:url('/images/project_001.jpg')"></div>
                    <div class="tag-label"><span>Four Wings Hotel</span></div>
                </div>
            </div>
            <div class="col-sm-4 tag-container">
                <div class="col-sm-12 limiter">
                    <div class="img project" style="background-image:url('/images/project_002.jpg')"></div>
                    <div class="tag-label"><span>Navanakorn Power Plant</span></div>
                </div>
            </div>
            <div class="col-sm-4 tag-container">
                <div class="col-sm-12 limiter">
                    <div class="img project" style="background-image:url('/images/project_003.jpg')"></div>
                    <div class="tag-label"><span>twin centro</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 tag-container">
                <div class="col-sm-12 limiter">
                    <div class="img project" style="background-image:url('/images/project_004.jpg')"></div>
                    <div class="tag-label"><span>graphic textiles ltd</span></div>
                </div>
            </div>
            <div class="col-sm-4 tag-container">
                <div class="col-sm-12 limiter">
                    <div class="img project" style="background-image:url('/images/project_005.jpg')"></div>
                    <div class="tag-label"><span>columbia apparels ltd</span></div>
                </div>
            </div>
            <div class="col-sm-4 tag-container">
                <div class="col-sm-12 limiter">
                    <div class="img project" style="background-image:url('/images/project_006.jpg')"></div>
                    <div class="tag-label"><span>newage garments ltd</span></div>
                </div>
            </div>
        </div>
    </div>

</div>
