<div class="container">

    <%if(sbs.length > 0) {%>
        <div class="row">
            <div class="finance-header">
                <%-sbs[0].title_1%>
            </div>
        </div>
        <br>
        <div class="row finance">
            <%- sbs[0].content %>
        </div>
        <br>
    <%} else {%>
        <br>
        <h3 class="text-center">
            <%=__("no-finance-record")%>
        </h3>
    <%}%>

    <br>
</div>

<script type="text/javascript">
    try {
        var tableWidth = $(".row.finance").find("table").first().outerWidth();
        var header = $(".finance-header");
        header.width(tableWidth);
        header.css("margin-left", "auto");
        header.css("margin-right", "auto");
    }
    catch(e) {}
</script>
