<div class="container">
    <h3 class="header">about us</h3>
    <br>

    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12">
            <div class="text-justify">
                PCJ INDUSTRIES, was established in Thailand 1998, is expert in manufacturing of steel doors, duct dampers, and air outlets with certificates from world wide accepted organization.  Moreover, our company has been certified by ISO 9001:2008 at full system in order to ensure the quality and consistent of our production lines
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-10 col-sm-push-1">
            <img src="/images/certificate.jpg" class="img-responsive">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12">
            <div class="text-justify">
                Our policy has always been, and will continue to be, the production and On Time-Every Time Schedule Delivery of Quality, Reliability and Competitively Priced Products. We have invested for instruments, machines and we have experience engineer teams take full time to research and develop our product lines continuously, including new product designs to meet worldwide market demands.
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <img src="/images/map_world.jpg" class="img-responsive">
        </div>
    </div>
    <br>
</div>
