<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/fotorama.css">
    <link rel="stylesheet" href="/styles/owl.carousel.min.css">
    <link rel="stylesheet" href="/styles/yamm.css">
    <link rel="stylesheet" href="/styles/z-importer.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fotorama.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--SCRIPTS END-->
  </head>

  <body>
    <%- partial("base/header.ejs") %>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <%- partial("base/footer.ejs") %>
  </body>
</html>
