<h2>Register</h2>
<form method="post">
    <input type="email" name="email" required placeholder="Email Address">
    <input type="password" name="password" required placeholder="Password">
    <input type="text" name="firstName" required placeholder="First Name">
    <input type="text" name="middleName" placeholder="Middle Name">
    <input type="text" name="lastName" required placeholder="Last Name">
    <input type="submit" value="Register">
</form>
