<div class="container">
    <h3 class="header">Duct Dampers</h3>
    <p class="text-center">Plenty types of our duct dampers are available to meet any of your requirements</p>
    <hr>

    <%- partial("../base/carousel_type.ejs") %>

    <% if(selected) { %>
        <%- partial("../base/carousel_model.ejs") %>

        <div class="thumbnail-container">
        </div>

        <h3 class="header">Option you can choose</h3>
        <div class="option-container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">Size</div>
                <div class="col-sm-9 col-xs-10 option-detail">Available upon request</div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">fire rating</div>
                <div class="col-sm-9 col-xs-10 option-detail">0-3 hours (3 Hours in accordance with UL10C)</div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-2 option-label">door type</div>
                <div class="col-sm-9 col-xs-10 option-detail">single door, double door / flush, flush with vision panel, flush with louver, embossed</div>
            </div>
        </div>
        <br>

        <%- partial("../base/product_tab.ejs") %>

        <%- partial("../base/quote_button.ejs") %>

    <% } %>
</div>
