<div class="container">
    <h2 class="text-center text-capitalize"><strong>Duct Dampers</strong></h2>
    <p class="text-center">Plenty types of our duct dampers are available to meet any of your requirements</p>
    <hr>

    <div class="owl-carousel carousel-browse type">
        <% _.each(types, function(type) { %>
            <a href="<%= sails.getUrlFor('ProductController.ductDamperType').replace(':tid', type.id) %>" class="item-button type">
                <div class="img-frame" style="background-image:url('<%= type.image %>')"></div>
                <div class="item-title"><%= type.title %></div>
            </a>
        <% }) %>
    </div>
    <br>
</div>

<script type="text/javascript">
    $(window).load(function() {
        function setCarousel(carousel) {
            var buttons = carousel.find(".item-button");
            var imgsFrame = carousel.find(".img-frame");
            var imgs = imgsFrame.find("img");

            carousel.owlCarousel({
                nav: true,
                dots: true,
                navText: [
                        '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                        '<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
                rewind: true,
                responsive: {
                        0: {items: 1,},
                        768: {items: 2,},
                        992: {items: 3,},},
                onRefresh: function() {
                    buttons.css("min-height", "");
                },
                onRefreshed: function () {
                    var maxHeightImg = Math.max.apply(
                        null,
                        imgs.map(function() {
                                return $(this).outerHeight()}).get()
                    );
                    imgsFrame.css("min-height", maxHeightImg);

                    var maxHeightButton = Math.max.apply(
                        null,
                        buttons.map(function() {
                                return $(this).outerHeight()}).get()
                    );
                    buttons.css("min-height", maxHeightButton);
                },
            });
        }

        $(".carousel-browse").each(function(index, carousel) {
            setCarousel($(carousel));
        });
    });
</script>
