<div class="container">
    <h2 class="text-center text-capitalize"><strong>fire steel doors</strong></h2>
    <p class="text-center">Our steel fire doors, swining type are certified for fire rating by worldwide accepted organization</p>
    <img src="/images/fire_door_cert.jpg" class="img-responsive center-block product-cert">
    <hr>
    <h2 class="text-center text-capitalize"><strong>Model you can choose</strong></h2>
</div>
