<div class="container">
    <h2 class="text-center text-capitalize"><strong>fire steel doors</strong></h2>
    <p class="text-center">Our steel fire doors, swining type are certified for fire rating by worldwide accepted organization</p>
    <img src="/images/fire_door_cert.jpg" class="img-responsive center-block product-cert">
    <hr>
    <h2 class="text-center text-capitalize"><strong>Model you can choose</strong></h2>
    <div class="carousel-browser-container">
        <div class="carousel-browser">
            <div class="item-container">
                <div class="item-button">
                    <a href="#red">
                        <img src="/images/fire_door_01.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#blue">
                        <img src="/images/fire_door_02.jpg">
                        <p>Single Door, Flush Style<br>second line here</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#white">
                        <img src="/images/fire_door_03.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#grey">
                        <img src="/images/fire_door_04.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#brown">
                        <img src="/images/fire_door_05.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#wood">
                        <img src="/images/fire_door_06.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#vision">
                        <img src="/images/fire_door_07.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
        </div>
    </div>






    <!-- <div style="margin: 0 50px;">
        <div class="owl-carousel">
            <div class="item"><img src="/images/fire_door_01.jpg"></div>
            <div class="item"><img src="/images/fire_door_02.jpg"></div>
            <div class="item"><img src="/images/fire_door_03.jpg"></div>
            <div class="item"><img src="/images/fire_door_04.jpg"></div>
            <div class="item"><img src="/images/fire_door_05.jpg"></div>
            <div class="item"><img src="/images/fire_door_06.jpg"></div>
            <div class="item"><img src="/images/fire_door_07.jpg"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel();
        });
    </script> -->
</div>



<script type="text/javascript">
    $(document).ready(function(){
        $('.carousel-browser').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            prevArrow: '<button type="button" class="left carousel-control slick-prev" aria-label="Previous" tabindex="0" role="button"> <i class="fa fa-chevron-left" aria-hidden="true"></i> <span class="sr-only">Previous</span></button>',
            nextArrow: '<button type="button" class="right carousel-control slick-next" aria-label="Next" tabindex="0" role="button"> <i class="fa fa-chevron-right" aria-hidden="true"></i><span class="sr-only">Next</span></button>',
            responsive: [{
                breakpoint: 992,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            },{
                breakpoint: 768,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }],
        });
    });
</script>

