<div class="container">
    <h2 class="text-center text-capitalize"><strong>fire steel doors</strong></h2>
    <p class="text-center">Our steel fire doors, swining type are certified for fire rating by worldwide accepted organization</p>
    <img src="/images/fire_door_cert.jpg" class="img-responsive center-block product-cert">
    <hr>
    <h2 class="text-center text-capitalize"><strong>Model you can choose</strong></h2>

    <div class="carousel-browse-container">
        <div class="owl-carousel carousel-browse model">
            <div class="item-container">
                <div class="item-button">
                    <a href="#red">
                        <div><img src="/images/fire_door_01.jpg"></div>
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#blue">
                        <div><img src="/images/fire_door_02.jpg"></div>
                        <p>Single Door, Flush Style<br>second line here</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#white">
                        <div><img src="/images/fire_door_03.jpg"></div>
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#grey">
                        <div><img src="/images/fire_door_04.jpg"></div>
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#brown">
                        <div><img src="/images/fire_door_05.jpg"></div>
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#wood">
                        <div><img src="/images/fire_door_06.jpg"></div>
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#vision">
                        <div><img src="/images/fire_door_07.jpg"></div>
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="thumbnail-container">
        <div class="thumbnail-label text-center text-capitalize">
            single door, flush style
        </div>
        <div
                class="fotorama"
                data-nav="thumbs"
                data-width="100%"
                data-height="500"
                data-arrows="false"
                data-click="false"
                data-thumbmargin="10">
            <img src="/images/fire_door_01.jpg" width="50" height="50" data-label="double door, flush style">
            <img src="/images/fire_door_02.jpg" width="50" height="50" data-label="single door, UL cert">
            <img src="/images/fire_door_03.jpg" width="50" height="50" data-label="double door, vision panel, white">
            <img src="/images/fire_door_04.jpg" width="50" height="50" data-label="double door, vision panel">
            <img src="/images/fire_door_05.jpg" width="50" height="50" data-label="single door, emboosed style (*MoQ 60 units)">
            <img src="/images/fire_door_06.jpg" width="50" height="50" data-label="single door, emboosed style, wood (*MoQ 60 units)">
            <img src="/images/fire_door_07.jpg" width="50" height="50" data-label="single door, vision panel">
            <img src="/images/fire_door_08.jpg" width="50" height="50" data-label="vertical test">
            <img src="/images/fire_door_09.jpg" width="50" height="50" data-label="horizontal test">
        </div>
    </div>
    <br>

    <h2 class="text-center text-capitalize"><strong>Option you can choose</strong></h2>
    <div class="option-container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-2 option-label">Size</div>
            <div class="col-sm-8 col-xs-10 option-detail">Available upon request</div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-2 option-label">fire rating</div>
            <div class="col-sm-8 col-xs-10 option-detail">0-3 hours (3 Hours in accordance with UL10C)</div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-2 option-label">door type</div>
            <div class="col-sm-8 col-xs-10 option-detail">single door, double door / flush, flush with vision panel, flush with louver, embossed</div>
        </div>
    </div>
    <br>

    <h2 class="text-center text-capitalize"><strong>Hardware you can add</strong></h2>
    <div class="hardware-container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 hardware-label">door closers</div>
            <div class="col-sm-8 carousel-browse-container">
                <div class="owl-carousel carousel-browse hardware">
                    <div class="item-container">
                        <div class="item-button">
                            <div><img src="/images/door_closer_01.jpg"></div>
                            <p>Single Door, Flush Style</p>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="item-button">
                            <div><img src="/images/door_closer_02.jpg"></div>
                            <p>Single Door, Flush Style</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 hardware-label vcenter">door locks</div>
            <div class="col-sm-8 carousel-browse-container vcenter">
                <div class="owl-carousel carousel-browse hardware">
                    <div class="item-container">
                        <div class="item-button">
                            <div><img src="/images/door_lock_01.jpg"></div>
                            <p>Single Door, Flush Style</p>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="item-button">
                            <div><img src="/images/door_lock_02.jpg"></div>
                            <p>Single Door, Flush Style</p>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="item-button">
                            <div><img src="/images/door_lock_03.jpg"></div>
                            <p>Single Door, Flush Style</p>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="item-button">
                            <div><img src="/images/door_lock_04.jpg"></div>
                            <p>Single Door, Flush Style</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $(".owl-carousel.carousel-browse.model").owlCarousel({
            margin: 10,
            nav: true,
            navText: [
                    `<i class="fa fa-chevron-left" aria-hidden="true"></i>`,
                    `<i class="fa fa-chevron-right" aria-hidden="true"></i>`],
            rewind: true,
            responsive: {
                    0: {items: 1,},
                    768: {items: 2,},
                    992: {items: 3,},},
        });

        $(".owl-carousel.carousel-browse.hardware").owlCarousel({
            margin: 10,
            items: 3,
            nav: true,
            dots: false,
            navText: [
                    `<i class="fa fa-chevron-left" aria-hidden="true"></i>`,
                    `<i class="fa fa-chevron-right" aria-hidden="true"></i>`],
            responsive: {
                    0: {items: 1,},
                    768: {items: 2,},
                    992: {items: 3,},},
        });
    });

    // Function to change thumbnail label
    $(function() {
        $('.fotorama').on(
            'fotorama:show',
            function (e, fotorama, extra) {
                try {
                    $(".thumbnail-label").text(fotorama.activeFrame.label);
                }
                catch(e) {}
            }
        );
    });
</script>
