<div class="container">
    <h2 class="text-center text-capitalize"><strong>fire steel doors</strong></h2>
    <p class="text-center">Our steel fire doors, swining type are certified for fire rating by worldwide accepted organization</p>
    <img src="/images/fire_door_cert.jpg" class="img-responsive center-block product-cert">
    <hr>
    <h2 class="text-center text-capitalize"><strong>Model you can choose</strong></h2>
    <div class="carousel-browse-container">
        <div class="owl-carousel carousel-browse">
            <div class="item-container">
                <div class="item-button">
                    <a href="#red">
                        <img src="/images/fire_door_01.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#blue">
                        <img src="/images/fire_door_02.jpg">
                        <p>Single Door, Flush Style<br>second line here</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#white">
                        <img src="/images/fire_door_03.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#grey">
                        <img src="/images/fire_door_04.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#brown">
                        <img src="/images/fire_door_05.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#wood">
                        <img src="/images/fire_door_06.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
            <div class="item-container">
                <div class="item-button">
                    <a href="#vision">
                        <img src="/images/fire_door_07.jpg">
                        <p>Single Door, Flush Style</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $(".owl-carousel.carousel-browse").owlCarousel({
            margin: 10,
            nav:true,
            navText: [
                    `<i class="fa fa-chevron-left" aria-hidden="true"></i>`,
                    `<i class="fa fa-chevron-right" aria-hidden="true"></i>`],
            rewind: true,
            responsive: {
                0: {items: 1,},
                768: {items: 2,},
                992: {items: 3,},
            },
        });
    });
</script>
