<div class="container">
    <h2 class="header">product manager</h2>
    <a href="<%= sails.getUrlFor('ProductController.categoryManage') %>" class="btn btn-primary">manage product category</a>
    <a href="<%= sails.getUrlFor('ProductController.typeManage') %>" class="btn btn-primary">manage product type</a>
    <a href="<%= sails.getUrlFor('ProductController.modelManage') %>" class="btn btn-primary">manage product model</a>
    <a href="<%= sails.getUrlFor('ProductController.manage') %>" class="btn btn-primary">manage product</a>
</div>
