<div class="owl-carousel carousel-browse type">
    <% _.each(types, function(type) { %>
        <a href="#" class="item-button type" data-tid="<%= type.id %>">
            <div class="img-frame" style="background-image:url('<%= type.image %>')"></div>
            <div class="item-title"><%= type.title %></div>
        </a>
    <% }) %>
</div>
<br>

<script type="text/javascript">
    function move(des_id) {
        $("#" + des_id).fadeIn(100, function() {
            $("html, body").animate({
                scrollTop: $("#" + des_id).offset().top - 30
            }, 250);
        });
    }

    $("a.item-button.type").click(function(e) {
        e.preventDefault();
        // add mask blur to all other buttons
        $(".item-button.type").removeClass("selected");
        $(e.currentTarget).addClass("selected");

        var btns = $(".btn-model-container");
        var des_id = "btn-model-container-" + $(this).data("tid");
        var found;
        for(var i=0; i<btns.length; i++)
            if($(btns[i]).css("display") == "block")
                found = $(btns[i]);

        if(!found) {
            // if no block is visible, slide down
            $("#" + des_id).slideDown(function() {
                move(des_id);
            });
        }
        else if(found.attr("id") != des_id) {
            // if visible block is not the one, fade
            found.fadeOut(100, function() {
                move(des_id);
            });

            // do nothing if chosen block is already visible
        }
    });
</script>
