<br>
<footer class="footer">
    <div class="container">
        <div class="text-center white-text">
            <p><%- partial("quick_contact.ejs") %></p>
            Copyright &copy; 2002-2016 All Rights Reserved.<br>
            <span class="text-uppercase">PCJ industries CO., LTD.</span><br>
        </div>
    </div>
</footer>
