<%if(products.length > 0) {%>
    <div class="thumbnail-container">
        <div class="thumbnail-label text-center text-capitalize">
            <%= products[0].title %>
        </div>
        <div
                class="fotorama"
                data-nav="thumbs"
                data-width="100%"
                data-height="400"
                data-arrows="false"
                data-click="false"
                data-thumbmargin="5">
            <% _.each(products, function(product) { %>
                <img src="<%= product.image %>" width="50" height="50" data-label="<%= product.title %>">
            <% }) %>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $(".fotorama").on(
                "fotorama:show",
                function (e, fotorama, extra) {
                    try {
                        $(".thumbnail-label").text(fotorama.activeFrame.label);
                    }
                    catch(e) {}
                }
            );
        });
    </script>
<%} else {%>
    <p class="alert alert-warning text-center">There is no product of requested model available at this time.</p>
<%}%>
