<nav class="navbar-default navbar-fixed-top">
    <div class="container" style="padding-right: 15px;">
        <div class="pull-right red-text">
            <%- partial("quick_contact.ejs") %>
        </div>
    </div>
</nav>

<nav class="navbar navbar-custom navbar-default navbar-static-top yamm">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/PCJ_logo.jpg" class="company-brand">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav-custom navbar-nav navbar-right">
                <li class="active"><a href="#about">About</a></li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6 tag-container">
                                        <a href="#">
                                            <div class="col-sm-12 limiter">
                                                <div class="img square" style="background-image:url('/images/fire_doors.jpg')"></div>
                                                <div class="tag-label"><span>Fire Steel Doors</span></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 tag-container">
                                        <a href="#">
                                            <div class="col-sm-12 limiter">
                                                <div class="img square" style="background-image:url('/images/fire_dampers.jpg')"></div>
                                                <div class="tag-label"><span>Fire Dampers</span></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 tag-container">
                                        <a href="#">
                                            <div class="col-sm-12 limiter">
                                                <div class="img square" style="background-image:url('/images/duct_dampers.jpg')"></div>
                                                <div class="tag-label"><span>Duct Dampers</span></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 tag-container">
                                        <a href="#">
                                            <div class="col-sm-12 limiter">
                                                <div class="img square" style="background-image:url('/images/air_outlets.jpg')"></div>
                                                <div class="tag-label"><span>Air Outlets</span></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#careers">Careers</a></li>
                <li><a href="#en" class="icon-lang"><img src="images/flag_en.png"></a></li>
                <li><a href="#th" class="icon-lang"><img src="images/flag_th.png"></a></li>
            </ul>
        </div>
    </div>
</nav>
