<nav class="navbar-default navbar-fixed-top">
    <div class="container" style="padding-right: 15px;">
        <div class="pull-right red-text">
            <%- partial("quick_contact.ejs") %>
        </div>
    </div>
</nav>

<nav class="navbar navbar-custom navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/images/PCJ_logo.jpg" class="company-brand"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav-custom navbar-nav navbar-right">
                <li class="active"><a href="#about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#careers">Careers</a></li>
                <li><a href="#en" class="icon-lang"><img src="images/flag_en.png"></a></li>
                <li><a href="#th" class="icon-lang"><img src="images/flag_th.png"></a></li>
            </ul>
        </div>
    </div>
</nav>
