<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#desc">description</a></li>
    <li><a data-toggle="tab" href="#cert">certificate</a></li>
    <li><a data-toggle="tab" href="#inst">installation</a></li>
    <li><a data-toggle="tab" href="#catg">catalogue</a></li>
</ul>

<div class="tab-content">
    <div id="desc" class="tab-pane fade in active">
        desccription
    </div>
    <div id="cert" class="tab-pane fade">
        <div class="btn-cert">
            <a href="#">
                <div class="img-frame"><img src="/images/fire_door_cer_01.jpg"></div>
                <div class="title">download</div>
            </a>
        </div>
        <div class="btn-cert">
            <a href="#">
                <div class="img-frame"><img src="/images/fire_door_cer_02.jpg"></div>
                <div class="title">download</div>
            </a>
        </div>
        <div class="btn-cert">
            <a href="#">
                <div class="img-frame"><img src="/images/fire_door_cer_03.jpg"></div>
                <div class="title">download</div>
            </a>
        </div>
        <div class="btn-cert">
            <a href="#">
                <div class="img-frame"><img src="/images/fire_door_cer_04.jpg"></div>
                <div class="title">download</div>
            </a>
        </div>
    </div>
    <div id="inst" class="tab-pane fade">
        <div class="btn-cert">
            <a href="#">
                <div class="img-frame"><img src="/images/fire_door_cer_04.jpg"></div>
                <div class="title">download</div>
            </a>
        </div>
    </div>
    <div id="catg" class="tab-pane fade">
        <div class="btn-cert">
            <a href="#">
                <div class="img-frame"><img src="/images/fire_door_cer_04.jpg"></div>
                <div class="title">download</div>
            </a>
        </div>
    </div>
</div>
<hr>
