$primary-red: #c00;
$secondary-red: lighten($primary-red, 7%);
$light-grey: lighten(#eee, 1%);
$black: #000;
$white: #fff;
$border-r: 5px;
$blue: #00afea;

$opac_1: .8;
$opac_2: .9;
$mul: 1.8;
@mixin grad-grey($direction, $opac, $mul, $grad-color) {
    background-image: linear-gradient(
            to $direction,
            rgba($grad-color,.0001*$mul) 0,
            rgba($grad-color,.1*$mul) 100%);
    opacity: $opac;
}

@mixin mixin-owl-nav($direction, $opac, $mul, $arrow-color, $grad-color) {
    #{$direction}: -40px;
    @if $direction == "left" {
        border-radius: $border-r 0px 0px $border-r;
    } @else if $direction == "right" {
        border-radius: 0px $border-r $border-r 0px;
    }

    &:hover {
        @include grad-grey($direction, $opac, $mul, $grad-color);
        opacity: $opac;

        i {
            color: $arrow-color;
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// animation for menu button on navbar
.navbar-toggle {
    border: none;
    background: transparent !important;

    &:hover {
        background: transparent !important;
    }

    .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}
// --- animation for menu button on navbar

// custom bootstrap
@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 480px) {
    .navbar-fixed-top {
        display: none;
    }

    .navbar-static-top {
        top: 0px !important;
        margin-bottom: 0px !important;
    }
}
.navbar-fixed-top {
    height: 20px;
}

.navbar-static-top {
    top: 20px;
}

.navbar-custom {
    background-color: $white;
    background-image: linear-gradient(to bottom,$white 0,$white 100%);
    font-weight: bold;
}

.navbar-brand {
    padding: 3px 15px;

    img.company-brand {
      max-height: 54px;
      width: auto;
      height: auto;
    }
}

.nav>li>a {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.navbar-default {
    .navbar-nav {
        &>li>a {
            color: #444;
        }

        &>.active {
            &>a {
                color: white;
                background-image: linear-gradient(to bottom, $primary-red 0, $secondary-red 100%);
                background-repeat: repeat-x;
                -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
                box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
            }
        }

        a:hover,
        &>.open a:hover {
            color: black;
            background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
        }

        a.icon-lang {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .navbar-toggle {
        border-color: $primary-red;

        .icon-bar {
            background-color: $primary-red;
        }
    }
}

.btn-default {
    color: $primary-red;
    border: 2px solid $primary-red;

    &:hover,
    &:focus {
        color: $white;
        border-color: $primary-red;
        background-color: $primary-red;
    }
}

.nav-tabs>li {
    &.active>a,
    &.active>a:hover,
    &.active>a:focus {
        color: $primary-red;
    }

    &>a {
        color: #555;

        &:hover {
            color: $primary-red;
        }
    }
}

@media screen and (max-width: 767px) {
    .nav-tabs>li {
        float: none;

        &>a {
            border: 1px solid #ddd;
        }

        &.active>a,
        &.active>a:hover,
        &.active>a:focus {
            border: 1px solid $primary-red;
            z-index: 1;
        }
    }
}

.tab-content {
    margin-top: 20px;
}

.footer {
    padding: 15px 0;
    background-image: linear-gradient(to bottom, $primary-red 0, $secondary-red 100%);
    color: white;
}
// --- custom bootstrap

// custom style for owl carousel
.owl-stage {
    display: flex;
}

.owl-carousel.owl-grab {
    cursor: ew-resize;
}

.carousel-view {
    .owl-item img {
        width: auto;
        max-height: 500px;
    }

    @media screen and (min-width: 768px) {
        .owl-prev,
        .owl-next {
            i {
                width: 30px;
                height: 30px;
                font-size: 30px;
                margin-top: -15px;
            }
        }

        .owl-prev i {
            margin-left: -15px;
        }

        .owl-next i {
            margin-right: -15px;
        }
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 0;
        height: 100%;
        width: 15%;
        text-align: center;

        i {
            position: relative;
            top: 50%;
            color: white;
            text-shadow: 0 1px 1px $black;
        }
    }

    .owl-prev {
        left: 0;
        @include grad-grey(left, $opac_1, 1, $black);

        &:hover {
            @include grad-grey(left, $opac_2, $mul, $black);
        }
    }
    .owl-next {
        right: 0;
        @include grad-grey(right, $opac_1, 1, $black);

        &:hover {
            @include grad-grey(right, $opac_2, $mul, $black);
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center;

        .owl-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px 7px;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $white;
            border-radius: 10px;
            box-shadow: 0 1px 3px $black;

            &.active {
                width: 12px;
                height: 12px;
                margin: 0px 7px;
                background-color: $white;
            }
        }
    }
}

.owl-carousel.browse {
    margin: 0 40px;
    background-color: $light-grey;

    .owl-item {
        display: flex;
        padding: 5px;

        .owl-item-btn {
            width: 100%;
            padding: 5px;
            background-color: white;
            border: 1px solid gainsboro;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            .img-frame {
                height: 150px;
                line-height: 150px;
                text-align: center;

                img {
                    display: inline-block;
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-height: 100%;
                }
            }

            .item-title {
                color: $primary-red;
                font-weight: bold;
                margin: 3px 0px;
            }

            .item-desc {
                white-space: pre-line;
            }
        }
    }

    .owl-nav {
        &.disabled {
            display: block;

            .owl-prev,
            .owl-next {
                &:hover {
                    cursor: auto;
                    background-image: inherit;
                }

                i {
                    display: none;
                }
            }
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 0;
            height: 100%;
            width: 40px;
            text-align: center;
            background-color: $light-grey;

            i {
                font-size: 30px;
                margin-top: -15px;
                position: relative;
                top: 50%;
                color: white;
                text-shadow: 0 1px 1px $black;
            }
        }

        .owl-prev {
            @include mixin-owl-nav(left, $opac_2, 1, $white, $black);
        }
        .owl-next {
            @include mixin-owl-nav(right, $opac_2, 1, $white, $black);
        }
    }

    .owl-dots {
        position: relative;
        width: 100%;
        text-align: center;
        top: -3px;

        .owl-dot {
            display: inline-block;
            width: 13px;
            height: 7px;
            margin: 1px 6px;
            cursor: pointer;
            background-color: #bbb;

            &.active {
                width: 15px;
                height: 9px;
                margin: 0px 4px;
                background-color: #666;
            }
        }
    }

    &.type {
        background-color: white;

        .owl-item-btn {
            margin: 0px auto;
            padding: 0px;
            border: 0px;
            max-width: 250px;
            border: 1px solid $white;

            &:hover,
            &:focus,
            &.selected {
                border: 1px solid $primary-red;
                box-shadow: 0 0 10px rgba($primary-red, .5);
            }

            .img-frame {
                height: 250px;
                line-height: 247px;
                border: 1px solid gainsboro;
                border-bottom: 0px;
            }

            .item-title {
                height: 40px;
                background-color: $primary-red;
                color: white;
                text-transform: capitalize;
                font-weight: bold;
                font-size: 1.2em;
                line-height: 40px;
                text-align: center;
                margin: 0px;
            }
        }

        .owl-prev,
        .owl-next {
            background-color: white;

            i {
                color: darken(white, 10%);
            }
        }

        .owl-prev {
            @include mixin-owl-nav(left, $opac_2, 0, $primary-red, $white);
        }
        .owl-next {
            @include mixin-owl-nav(right, $opac_2, 0, $primary-red, $white);
        }
    }
}
// --- custom style for owl carousel

// style for quick contact
.icon-font {
    font-size: 1.3em;
    vertical-align: middle;
}

.icon-text {
    margin-left: 5px;
}

.red-text {
    color: $primary-red;
}
// --- style for quick contact

// style for projects and product navbar buttons
.tag-container {
    &.category {
        margin-top: 20px;
    }

    &.project {
        margin: 10px 0px;
        display: inline-block;
        vertical-align: top;
        float: none;
        transition: height 3000ms ease;

        &>div {
            cursor: pointer;
        }
    }

    &>[class^="col-"] {
        padding: 0px;
    }

    .img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &.project {
            padding-bottom: 70%;
        }

        &.square {
            padding-bottom: 100%;
        }
    }

    .tag-label {
        position: absolute;
        height: 0px;
        width: 100%;

        span {
            display: block;
            color: white;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            top: -40px;
            line-height: 40px;
            background: rgba($primary-red, 0.7);
        }
    }
}
// --- style for projects and product navbar buttons

// style for fotorama
.thumbnail-container {
    .thumbnail-label {
        background-color: $light-grey;
        border-radius: $border-r $border-r 0 0;
        padding-top: 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: $primary-red;
    }

    .fotorama {
        background-color: $light-grey;
        padding: 10px;
        border-radius: 0 0 $border-r $border-r;

        .fotorama__stage {
            background-color: white;
            border: 1px solid gainsboro;

            .fotorama__img {
                border: 10px solid white !important;
            }
        }
    }
}
// --- style for fotorama

// style for product and its detail page
.product-cert {
    max-height: 120px;
}

.option-container {
    .row {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        .option-label {
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}

.btn-quote {
    text-transform: capitalize;
    font-size: 1.2em;
}

.btn-cert {
    display: inline-block;
    margin: 10px;
    padding: 5px;

    &:hover {
        margin: 9px;
        border: 1px solid darken($light-grey, 10%);
        border-radius: $border-r;

        a {
            text-decoration: none;
        }
    }

    .img-frame {
        height: 120px;
        width: 120px;

        img {
            height: 100%;
            width: auto;
            display: block;
            margin: 0px auto;
        }
    }

    .title {
        color: $primary-red;
        text-align: center;
        text-transform: capitalize;
    }
}

.hardware-container {
    .hardware-label {
        text-transform: capitalize;
        font-weight: bold;
    }

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}

.row-flex {
    display: flex;
    flex-wrap: wrap;

    [class^="col-"] {
        display: flex;
    }
}

.btn-model {
    display: block;
    border: 1px solid gainsboro;
    border-radius: $border-r;
    margin: 15px 20px;
    padding: 5px;
    width: 100%;

    &:hover,
    &:focus {
        border-color: $primary-red;
        box-shadow: 0 0 10px rgba($primary-red, .5);
        text-decoration: none;
    }

    .img-frame {
        height: 240px;
        line-height: 240px;
        text-align: center;

        img {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .title {
        text-align: center;
        color: $primary-red;
        margin-top: 10px;
    }
}
// --- style for product and its detail page

// style for admin page
form .btn.btn-danger {
    margin-left: 20px;
}

.header {
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

.admin-table {
    img {
        width: auto;
        max-width: 150px;
        max-height: 60px;
    }
}

form .img-frame {
    position: relative;
    width: 100%;
    height: 250px;

    img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 250px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
// --- style for admin page

// style for featherlight fotorama
.featherlight {
    &:before {
        margin-right: 0;
    }

    .featherlight-content {
        background: $light-grey;
        border: 1px solid $light-grey;
        border-radius: $border-r;
        padding: 0px;

        [class^="col-"] {
            padding: 0px;
        }

        .lightbox-text {
            padding: 10px 10px 5px 10px;

            .title {
                color: $primary-red;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.1em;
                margin-bottom: 5px;
                padding-right: 10px;
            }
        }
    }
}

@media screen and (min-width: 0px) {
    .featherlight .featherlight-content {
        width: 97%;
    }
}

@media screen and (min-width: 992px) {
    .featherlight .featherlight-content {
        width: 85%;
    }
}

@media screen and (min-width: 1200px) {
    .featherlight .featherlight-content {
        width: 80%;
    }
}
// --- style for featherlight fotorama

// style for project page
.filter-project {
    .filter-label {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .filter-project {
        .form-control {
            display: inline-block;
            width: inherit;
        }

        .filter-label {
            display: inline-block;
            text-align: left;
            margin-left: 15px;
            margin-right: 3px;
        }
    }
}
// --- style for project page
