$primary-red: #c00;
$secondary-red: #e00;
$light-grey: #eee;
$border-r: 5px;

// animation for menu button on navbar
.navbar-toggle {
    border: none;
    background: transparent !important;

    &:hover {
        background: transparent !important;
    }

    .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}
// --- animation for menu button on navbar

// animation for dropdown hover
@media (min-width: 992px) {
    .dropdown {
        .dropdown-menu {
            transition: all 0.4s;
            max-height: 0;
            display: block;
            overflow: hidden;
            opacity: 0;
        }

        &.open,
        &:hover {
            .dropdown-menu {
                max-height: 500px;
                opacity: 1;
            }
        }
    }
}
// --- animation for dropdown hover

// custom bootstrap
@media (max-width: 480px) {
    .navbar-fixed-top {
        display: none;
    }

    .navbar-static-top {
        top: 0px !important;
        margin-bottom: 0px !important;
    }
}
.navbar-fixed-top {
    height: 20px;
}

.navbar-static-top {
    top: 20px;
}

.navbar-custom {
    background-color: #fff;
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    font-weight: bold;
}

.navbar-brand {
    padding: 3px 15px;

    img.company-brand {
      max-height: 54px;
      width: auto;
      height: auto;
    }
}

.nav>li>a {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.navbar-default {
    .navbar-nav {
        &>li>a {
            color: #444;
        }

        &>.active {
            &>a {
                color: white;
                background-image: linear-gradient(to bottom, $primary-red 0, $secondary-red 100%);
                background-repeat: repeat-x;
                -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
                box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
            }
        }

        a:hover,
        &>.open a:hover {
            color: black;
            background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
        }

        a.icon-lang {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .navbar-toggle {
        border-color: $primary-red;

        .icon-bar {
            background-color: $primary-red;
        }
    }
}

.btn-default {
    color: $primary-red;
    border-color: $primary-red;
    border: 2px solid;
    font-weight: bold;

    &:hover {
        color: $primary-red;
        border-color: $primary-red;
        background-color: darken(white, 5%);
    }
}

.nav-tabs>li {
    &.active>a,
    &.active>a:hover,
    &.active>a:focus {
        color: $primary-red;
    }

    &>a {
        color: #555;

        &:hover {
            color: $primary-red;
        }
    }
}

@media screen and (max-width: 767px) {
    .nav-tabs>li {
        float: none;

        &>a {
            border: 1px solid #ddd;
        }

        &.active>a,
        &.active>a:hover,
        &.active>a:focus {
            border: 1px solid $primary-red;
            z-index: 1;
        }
    }
}

.tab-content {
    margin-top: 20px;
}
// --- custom bootstrap

// custom style for owl carousel
$opac_1: .8;
$opac_2: .9;
$mul: 1.8;
@mixin grad-grey($direction, $opac, $mul) {
    background-image: linear-gradient(to $direction, rgba(#000,.0001*$mul) 0, rgba(#000,.1*$mul) 100%);
    opacity: $opac;
}

.owl-carousel.owl-grab {
    cursor: ew-resize;
}

.carousel-view {
    .owl-item img {
        width: auto;
        max-height: 600px;
    }

    @media screen and (min-width: 768px) {
        .owl-prev,
        .owl-next {
            i {
                width: 30px;
                height: 30px;
                font-size: 30px;
                margin-top: -15px;
            }
        }

        .owl-prev i {
            margin-left: -15px;
        }

        .owl-next i {
            margin-right: -15px;
        }
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 0;
        height: 100%;
        width: 15%;
        text-align: center;

        i {
            position: relative;
            top: 50%;
            color: white;
            text-shadow: 0 1px 1px #000;
        }
    }

    .owl-prev {
        left: 0;
        @include grad-grey(left, $opac_1, 1);

        &:hover {
            @include grad-grey(left, $opac_2, $mul);
        }
    }
    .owl-next {
        right: 0;
        @include grad-grey(right, $opac_1, 1);

        &:hover {
            @include grad-grey(right, $opac_2, $mul);
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center;

        .owl-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px 7px;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 10px;
            box-shadow: 0 1px 3px #000;

            &.active {
                width: 12px;
                height: 12px;
                margin: 0px 7px;
                background-color: #fff;
            }
        }
    }
}

.owl-carousel.carousel-browse {
    margin: 0 50px;
    background-color: #eee;

    .item-button {
        display: block;
        text-decoration: none;
        margin: 20px 10px 10px 10px;
        padding: 10px 0px;
        background-color: white;
        border: 1px solid gainsboro;

        .img-frame {
            position: relative;

            img {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 240px;
                margin: 0px auto;
                border: 10px solid white;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        .item-title {
            color: $primary-red;
            text-align: center;
        }
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50px;
        text-align: center;
        background-color: #eee;

        i {
            width: 30px;
            height: 30px;
            font-size: 30px;
            margin-top: -15px;
            position: relative;
            top: 50%;
            color: white;
            text-shadow: 0 1px 1px #000;
        }
    }

    .owl-prev {
        left: -50px;
        border-radius: $border-r 0 0 $border-r;

        i {
            left: 5px;
            margin-left: -15px;
        }

        &:hover {
            @include grad-grey(left, $opac_2, 1);
        }
    }
    .owl-next {
        right: -50px;
        border-radius: 0 $border-r $border-r 0;

        i {
            right: 5px;
            margin-right: -15px;
        }

        &:hover {
            @include grad-grey(right, $opac_2, 1);
        }
    }

    .owl-dots {
        position: relative;
        width: 100%;
        text-align: center;
        top: -3px;

        .owl-dot {
            display: inline-block;
            width: 13px;
            height: 7px;
            margin: 1px 6px;
            cursor: pointer;
            background-color: #bbb;

            &.active {
                width: 15px;
                height: 9px;
                margin: 0px 4px;
                background-color: #666;
            }
        }
    }
}

.hardware-container {
    .hardware-label {
        font-size: 1.2em;
        text-transform: capitalize;
        font-weight: bold;
    }

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    // customize for hardware carousel
    .owl-carousel.carousel-browse.hardware {
        .item-button {
            padding: 5px;
            margin-top: 10px;

            .img-frame img {
                max-height: 200px;
                border: 0px solid white;
            }

            .item-title {
                text-align: left;
                margin-top: 5px;
                font-weight: bold;
            }

            .item-desc ul {
                padding-left: 15px;
                margin-bottom: 0px;
            }
        }

        .owl-nav.disabled {
            display: block;

            .owl-prev,
            .owl-next {
                &:hover {
                    cursor: auto;
                    background-image: inherit;
                }

                i {
                    display: none;
                }
            }
        }
    }
}
// --- custom style for owl carousel

.icon-font {
    font-size: 1.3em;
    vertical-align: middle;
}

.icon-text {
    margin-left: 5px;
}

.icon-certificate {
    max-width: 100%;
    height: auto;
}

.red-text {
    color: #d00;
}

@media (max-width: 767px) {
    .tag-container {
        margin-bottom: 10px;
    }
}

.tag-container {
    .img {
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &.project {
            padding-bottom: 70%;
        }

        &.square {
            padding-bottom: 100%;
        }
    }

    .limiter {
        padding: 0;
    }

    .tag-label {
        position: absolute;
        height: 0;
        width: 100%;

        span {
            display: block;
            color: white;
            font-weight: bold;
            font-style: italic;
            font-size: 1.2em;
            text-transform: capitalize;
            text-align: center;
            position: relative;
            top: -40px;
            line-height: 40px;
            background: rgba($primary-red, 0.7);
        }
    }
}

.footer {
    padding: 15px 0;
    background-image: linear-gradient(to bottom, $primary-red 0, $secondary-red 100%);
    color: white;
}

.product-cert {
    max-height: 140px;
}

.thumbnail-container {
    .thumbnail-label {
        background-color: #eee;
        border-radius: $border-r $border-r 0 0;
        padding-top: 10px;
        font-size: 1.2em;
        color: $primary-red;
    }

    .fotorama {
        background-color: #eee;
        padding: 10px 30px;
        border-radius: 0 0 $border-r $border-r;

        .fotorama__stage {
            background-color: white;
            border: 1px solid gainsboro;

            .fotorama__img {
                border: 10px solid white !important;
            }
        }
    }
}

.option-container {
    .row {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .option-label {
            font-weight: bold;
            font-size: 1.2em;
            text-transform: capitalize;
        }

        .option-detail {
            font-size: 1.2em;
            padding-left: 20px;
        }
    }
}

.btn-quote {
    text-transform: capitalize;
    font-size: 1.5em;
}

.btn-cert {
    display: inline-block;
    margin: 10px;
    padding: 5px;

    &:hover {
        margin: 9px;
        border: 1px solid darken($light-grey, 10%);
        border-radius: $border-r;

        a {
            text-decoration: none;
        }
    }

    .img-frame {
        height: 120px;
        width: 120px;

        &>img {
            height: 100%;
            width: auto;
            display: block;
            margin: 0px auto;
        }
    }

    .title {
        color: $primary-red;
        text-align: center;
        text-transform: capitalize;
    }
}
