<% _.each(models, function(model) { %>
    <a href="#<%= model.id %>" class="item-button">
        <div class="img-frame"><img src="<%= model.image %>"></div>
        <div class="item-title"><%= model.title %></div>
    </a>
<% }) %>
