<div class="thumbnail-label text-center text-capitalize">
    <%= products[0].title %>
</div>
<div
        class="fotorama"
        data-nav="thumbs"
        data-width="100%"
        data-height="500"
        data-arrows="false"
        data-click="false"
        data-thumbmargin="10">
    <% _.each(products, function(product) { %>
        <img src="<%= product.image %>" width="50" height="50" data-label="<%= product.title %>">
    <% }) %>
</div>
