<div class="container">
    <h2 class="header"><%=__(sails.config.enums.category["fd"])%><%=__("vertical-only")%></h2>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <p class="text-justify"><%=__("fd-p1")%></p>
        </div>
    </div>
    <img src="/images/cert fd.jpg" class="img-responsive center-block product-cert">
    <hr>

    <% url = sails.getUrlFor('ProductController.fdModel') %>
    <%- partial("../btn-model.ejs") %>
</div>
